fastapi[all]
faiss-cpu
uvicorn
gunicorn
requests
langchain_experimental==0.0.47
wheel
openai
httpx
pandas
pytest
tabulate
langchain
pypdf
langchain-community 
langchainhub 
langchain-openai 
chromadb 
unstructured[all-docs]

