fastapi[all]
uvicorn
gunicorn
requests
wheel
openai
httpx
pandas
pytest
tabulate
langchain
langchain_experimental
pypdf
langchain-community 
langchainhub 
langchain-openai 
chromadb 
unstructured[all-docs]

